body {
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  color: #06d63a;
  background-color: #2b2d42;
  text-align: center;
}

#myself {
  width: 60%;
  border-radius: 70%;
}

#hacker {
  width: 5%;
}

p {
  color: aliceblue;
  font-size: 1em;
  font-weight: bold;
}

#profile {
  width: 50%;
  height: 40%;
  margin: auto;
  border-bottom: 0.5em dotted grey;
  padding-bottom: 1.5em;
  margin-bottom: 2.5em;
}

/* hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 0.5em;
  width: 10%;
} */

h1 {
  width: 50%;
  margin: 0 auto;
}

header {
  position: relative;
  padding-top: 50px;
  padding-bottom: 5em;
  font-size: 100%;
  border-bottom: 0.5em dotted grey;
  padding-bottom: 100px;
  margin-bottom: 2.5em;
}

.bottom-cloud {
  position: absolute;
  width: 18%;
  transition: transform 0.5s;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 5%;
  width: 18%;
  transition: transform 0.5s;
}

.top-cloud:hover {
  box-shadow: 0 0.5em 0.5em -0.3em chartreuse;
  transform: translateY(-0.3em);
  cursor: pointer;
}

.bottom-cloud:hover {
  box-shadow: 0 0.5em 0.5em -0.3em chartreuse;
  transform: translateY(-0.3em);
  cursor: pointer;
}

.moutain {
  width: 60%;
}

.gif-dev {
  width: 50%;
  border-radius: 50%;
  float: left;
  padding: 20px;
}

.gif-hacker {
  width: 40%;
  border-radius: 90%;
  padding: 10px;
  float: right;
}

.skill-row-1 {
  width: 50%;
  margin: auto;
  text-align: left;
  padding: 40px;
}

.skill-row-2 {
  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 100px;
}

.contact-me {
  margin: 200px 0 100px 0;
  padding: 0 100px;
}

footer a {
  /* background-color: rgb(3, 190, 12); */
  font-weight: bold;
  color: aliceblue;
  margin: 100px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #06d63a;
}

button {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  background: none;
  color: #ffa260;
  border: 3px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, box-shadow 0.35s, border-color 0.2s, transform 0.5s;
  border-radius: 1em;
}

button:hover {
  border-color: chartreuse;
  color: chartreuse;
  box-shadow: 0 0.5em 0.5em -0.3em chartreuse;
  transform: translateY(-0.3em);
  cursor: pointer;
}

button:active {
  border-color: rgb(17, 139, 253);
  color: rgb(17, 139, 253);
  box-shadow: 0 0.5em 0.5em -0.3em rgb(17, 139, 253);
  transform: translateY(-0.3em);
  cursor: pointer;
}
